## Deliverable 3. Create a Travel Itinerary Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [28]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv", keep_default_na=False)
vacation_df.drop(columns='City_ID', inplace=True)
vacation_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lebu,CL,57.63,clear sky,-37.62,-73.65,Hostal Las Lilas
1,Ifakara,TZ,71.19,moderate rain,-8.13,36.68,Tanzanian Training Centre for International He...
2,Mahebourg,MU,78.80,scattered clouds,-20.41,57.70,Shandrani Beachcomber Resort & Spa
3,Ribeira Grande,PT,62.60,broken clouds,38.52,-28.70,Quinta da Meia Eira
4,Rikitea,PF,78.75,clear sky,-23.12,-134.97,Pension Maro'i
5,Vaini,TO,68.00,few clouds,-21.20,-175.20,Keleti Beach Resort
6,Bredasdorp,ZA,62.60,overcast clouds,-34.53,20.04,Bredasdorp Country Manor
7,Phan Thiet,VN,76.86,broken clouds,10.93,108.10,Hotel Saigon-PT
8,Ushuaia,AR,53.60,scattered clouds,-54.80,-68.30,Albatros Hotel
9,Cape Town,ZA,66.20,clear sky,-33.93,18.42,Southern Sun Cape Sun

In [29]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [30]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == 'Constitucion')]
vacation_end = vacation_df.loc[(vacation_df["City"] == 'Constitucion')]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == 'Cauquenes')]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == 'Talcahuano')] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == 'Lebu')]

In [40]:
vacation_start

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
150,Constitucion,CL,63.41,clear sky,-35.33,-72.42,Hotel Boutique Las Azucenas

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0, 4:6].to_numpy()
end = vacation_end.iloc[0, 4:6].to_numpy()
stop1 = vacation_stop1.iloc[0, 4:6].to_numpy()
stop2 = vacation_stop2.iloc[0, 4:6].to_numpy()
stop3 = vacation_stop3.iloc[0, 4:6].to_numpy()

In [38]:
start

array([-35.33, -72.42], dtype=object)

In [41]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start2finish = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(start2finish)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Constitucion,CL,63.41,clear sky,-35.33,-72.42,Hotel Boutique Las Azucenas
1,Cauquenes,CL,69.10,clear sky,-35.97,-72.32,Viña Don Heraldo
2,Talcahuano,CL,62.60,few clouds,-36.72,-73.12,Hotel Terramar
3,Lebu,CL,57.63,clear sky,-37.62,-73.65,Hostal Las Lilas
4,Constitucion,CL,63.41,clear sky,-35.33,-72.42,Hotel Boutique Las Azucenas

In [45]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [47]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))